# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://brqoufdhmawzaeuyrmwn.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"


# Admin Access Control
ADMIN_ALLOWED_EMAILS="owner@example.com,micah@example.com"

# Optional: Email sending (for contact form)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
